<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/registration.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora|Neucha|M+PLUS+Rounded+1c">
	<script src="https://www.gstatic.com/firebasejs/5.5.5/firebase.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<title>निर्यमणा: A Home for Volunteers from your community</title>
</head>

<body>
	<header class="header"><p><b>निर्यमणा<br /><em>To help and be helped</em></p></b></header>

	<nav>
		<ul class="navbar">
			<a href="index.html"><li>Home</li></a>
			<a href="about.html"><li>About</li></a>
			<a href="reglogin.html" style="float: right;"><li>Login/Register</li></a>
		</ul>
	</nav>

	<form class="reg" @submit.prevent="register">
		<h2>Register</h2>
		<input type="email" v-model="email" placeholder="Type your email">
		<input type="password" v-model="password" placeholder="Pick your password">
		<button>Register</button>
	</form>

	<script>
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyAwj0S65tbfKXormqaslo-pooz1mDtFTvs",
			authDomain: "niryamana-ac2dc.firebaseapp.com",
			databaseURL: "https://niryamana-ac2dc.firebaseio.com",
			projectId: "niryamana-ac2dc",
			storageBucket: "niryamana-ac2dc.appspot.com",
			messagingSenderId: "449429620964"
		};
		firebase.initializeApp(config);
	</script>
	
	<script>
		new Vue({
			el: '#app',
			data: {
				email: '',
				password: '',
				authUser: null
			},

			methods: {
				register () {
					firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
				},
			}
		})
		
<!-- 		created () {
			firebase.auth().onAuthStateChanged(user => {
				this.authUser = user
				if (user) {
					this.email = user.email
				}
			}
		}) -->
	</script>
</body>
</html>